<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Emails</title>
  </head>
  <body>
    <h1>Cadastro de Emails</h1>
    <form action="/register" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" />
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>
